<input type="password" [(ngModel)]="password" (input)="checkPasswordStrength()">

<div>
  <div [ngStyle]="{ 'background-color': passwordStrength === 'easy' ? 'red' : (passwordStrength === 'medium' ? 'yellow' : (passwordStrength === 'strong' ? 'green' : (passwordStrength === 'lessThan8' ? 'red' : 'gray'))) }">
    <p>firstSection</p>
  </div>
  <div [ngStyle]="{ 'background-color': passwordStrength === 'medium' ? 'yellow' : (passwordStrength === 'strong' ? 'green' : (passwordStrength === 'lessThan8' ? 'red' : 'gray')) }">
    <p>secondSection</p>
  </div>
  <div [ngStyle]="{ 'background-color': passwordStrength === 'strong' ? 'green' : (passwordStrength === 'lessThan8' ? 'red' : 'gray') }">
    <p>thirdSection</p>
  </div>
</div>
