input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.empty{
  background-color: grey;
}

.lessThan8{
  background-color: red;
}

.easy p:nth-child(1) {
  background-color: red;
}

.easy p:nth-child(2) {
  background-color: grey;
}

.easy p:nth-child(3) {
  background-color: grey;
}

.medium p:nth-child(1) {
  background-color: yellow;
}

.medium p:nth-child(2) {
  background-color: yellow;
}

.medium p:nth-child(3) {
  background-color: grey;
}

.strong {
  background-color: green;
}
